<header><h1>The OG Tiny App </h1></header>

<%if(username){%>
    <h1>Logged in as</h1><%=username%>
    <form method='POST' action='/logout'>
        <button type='submit' class='btn btn-primary' name='username'>Logout</button>
        </form>

<%} else {%>

    <form method='POST' action='/login'>
    <button type='submit' class="btn btn-primary"><h1></h1>Sign in</button>
    <input name='username' type='text'>
    </form>
<%}%>
