<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


<header>
    <h1>Please login to access your URL's</h1>
    
    </header>


<body>
<form method='POST' action='/login'>
<button type='submit' class="btn btn-primary">Login</button>
<input name='email' type='email' placeholder='email'>
<input name='password' type='password' placeholder='password'>
</form>

<form method='GET' action='/registration'>
<button type='submit' class='btn btn-primary'>register</button>
</form>
</body>